<!DOCTYPE HTML>

<!--
	Ex Machina: A responsive HTML5 website template by HTML5Templates.com
	Released for free under the Creative Commons Attribution 3.0 license (html5templates.com/license)
	Visit http://html5templates.com for more great templates or follow us on Twitter @HTML5T
-->

<html>
<head>
<title>{{ pageTitle | raw }}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="shortcut icon" href="{{ app.request.baseUrl }}/logo.ico" type="image/x-icon" />
<noscript>
<link rel="stylesheet" href="{{ app.request.baseUrl }}/css/5grid/core.css" />
<link rel="stylesheet" href="{{ app.request.baseUrl }}/css/5grid/core-desktop.css" />
<link rel="stylesheet" href="{{ app.request.baseUrl }}/css/5grid/core-1200px.css" />
<link rel="stylesheet" href="{{ app.request.baseUrl }}/css/5grid/core-noscript.css" />
<link rel="stylesheet" href="{{ app.request.baseUrl }}/css/style.css" />
<link rel="stylesheet" href="{{ app.request.baseUrl }}/css/style-desktop.css" />
</noscript>

<link rel="stylesheet" href="{{ app.request.baseUrl }}/css/bootstrap.css" />

<script src="{{ app.request.baseUrl }}/css/5grid/jquery.js"></script>
<script src="{{ app.request.baseUrl }}/css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none"></script>
<!--[if IE 9]><link rel="stylesheet" href="css/style-ie9.css" /><![endif]-->
			{% block pageContent %}				
			{% endblock %}
<div id="footer-wrapper">
	<div class="5grid-layout" id="copyright">
		<div class="row">
			<div class="12u">
				<p>&copy; Immo Tom | Project Webscripten 2 | Design: HTML5Templates</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>